{% extends 'base.html.twig' %}

{% block title %} - Address Form{% endblock %}

{% block body %}

<section id="new-address" class="container">
    <h2>Add address :</h2>
    {{form(addressForm)}}
</section>
{% endblock %}