body {
    background-color: rgb(185, 227, 238);
}

h1 {
    color:rgb(247, 245, 242);
    margin-top: 20px;
    margin-bottom: 20px;
}

.show {
    margin-bottom: 30px;
}

.margin {
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.login {
    display:flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 20px;
}

.account {
    padding-right: 20px;
}